$container-widht:1109px;
$spacing-hero-top:64gipx;
$spacing-hero-bottom:144px;
$hero-left-width:635px;
$hero-right-width:212px;
$hero-right-offset-top:200px;
$accent-color:#4A4FF2;
$award-grid:1fr 1fr 2fr 80px;
$award-gap:40px;
$section-padding:20px 0;
