


//layout
$container-width:1200px;
$container-padding:125px;


//hero
$spacing-hero-top:64px;
$spacing-hero-bottom:144px;
$hero-left-width:635px;
$hero-right-width:212px;
$hero-right-offset-top:200px;




$award-grid:1fr 1fr 2fr 80px;
$award-gap:40px;


$section-padding:20px 0;


$font-h1:40px;
$font-subtitle:22px;
$font-nav:18px;
$font-body:16px;


//color
$text-color:#111111;
$black:#000000;
$white:#ffffff;
$border-color:#d8d8d8;
$accent-color:#4A4FF2;



$grid-gap:10px;



